{{!-- {{#each this}}
<ul class="comments-list">
    <li class="comments-list__item">
        <p class="post-date">Created {{createdAt}}</p>
        <h2 class="post-name">{{name}}</h2>
        <img class="post-avatar" src="{{avatar}}" alt="User's avatar" />
    </li>
</ul>
{{/each}} --}}