.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.comments-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.is-hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

.widget {
    position: fixed;
    border-radius: 20%;
    top: 20%;
    left: 2%;
    width: 300px;
    height: 200px;
    background: linear-gradient(116.23deg, #184093 24.02%, rgba(24, 64, 147, 0) 63.66%), #091434;
    opacity: 0.7;
}

.widget-list {
    font-size: 22px;
    color: white;
}

#NotiflixNotify-1 {
    margin-top: 100px;
}
